/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        new_combo {
            bindings = <&trans>;
            key-positions = <>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
 &kp TAB   &kp P   &kp U   &sl 1  &kp COMMA   &kp Q   &kp G   &kp C   &kp L   &kp M   &kp F  &kp RS(TAB)   &mo 2   &kp H   &kp I   &kp E   &kp A   &kp O   &kp D   &kp T   &kp R   &kp N   &kp S   &mo 2  &kp LCTRL   &kp K   &kp Z  &kp DOT  &kp LS(NON_US_HASH)   &kp X  &kp LEFT_SHIFT  &trans  &kp RETURN  &kp SPACE   &kp J   &kp V   &kp W   &kp B   &kp Y  &kp RCTRL  &kp K_MUTE  &kp LEFT_ALT   &mo 3  &kp LEFT_SHIFT  &kp LEFT_COMMAND  &kp RETURN  &kp SPACE   &mo 3  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Diacs {
            bindings = <
 &trans  &trans  &kp LEFT_BRACKET   &to 0  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp DOUBLE_QUOTES  &trans  &trans  &trans  &trans  &trans  &kp MINUS  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Symbols {
            bindings = <
 &kp AT_SIGN  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Navigation {
            bindings = <
 &trans  &kp PAGE_UP  &kp BACKSPACE  &kp UP_ARROW  &kp DELETE  &trans  &kp KP_ASTERISK  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_PLUS  &trans  &trans  &kp HOME  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &kp KP_N0  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_COMMA  &trans  &trans  &trans  &kp TAB  &kp INSERT  &kp KP_ENTER  &trans  &trans  &trans  &trans  &trans  &kp KP_DIVIDE  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_MINUS  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
